h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.about_container {
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.information {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.block-list {
  display: flex;
  justify-content: center;
}
.block-about {
  width: 270px;
  margin: 0 30px;
}
.block-about h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 20px;
}
.block-about p {
  font-family: "Roboto";
  margin-top: 10px;
  font-size: 0.88em;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #757575;
}
.future-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
}
.f_img {
  display: block;
  padding: 25px 100px;
  width: 100%;
}
