h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.our-work {
  animation: pulse;
}
.work_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.work_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 30px auto;
  width: 1170px;
}
.work_list .work-item .working {
  object-fit: cover;
}

.working img {
  height: 100%;
  width: 100%;
  margin: 0 30px;
}
.work-img {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 30px;
}

.work-img > .working-p {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 370px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}
