h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  margin: 29.48px 0;
}
.promo {
  background-image: url(../../img/Background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blue-btn {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  animation: pulse 2s 3s infinite;
  cursor: pointer;
}
.promo-overlay {
  background: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 200px 0;
}
