h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

/* heder */
.header {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  animation: backInRight 2s;
}
.header_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_block {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}
.header_wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items: center;
}

/* about */
.about_container {
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.information {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.block-list {
  display: flex;
  justify-content: center;
}
.block-about h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 20px;
}
.block-about p {
  margin-top: 10px;
  font-size: 0.88em;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #757575;
}

.header_logo1 {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.header_logo1 span {
  color: #2196f3;
  width: 145px;
  height: 31px;
}

.header_link {
  list-style-type: none;
}
.header_link a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header_link a:hover {
  color: #2196f3;
}
.contact_link a {
  text-decoration: none;
  color: #757575;
}

.contact_link a:hover {
  color: #2196f3;
}

/* promo */
.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  margin: 29.48px 0;
}
.promo {
  background-image: url(./img/Img\ Background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;

  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  animation: pulse 2s 3s infinite;
  cursor: pointer;
}
.contact_link {
  list-style-type: none;
  padding: 20px;
}
.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.work_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.work_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 30px auto;
  width: 1170px;
}
.section_card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.card h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.header_link > img {
  display: inline-block;
  margin-right: 10px;
}
.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
  margin: 0;
}
.card_conteiner {
  background-color: #f5f4fa;
  padding: 94px 195px;
}
.card img {
  list-style-type: none;
}
span {
  color: #2196f3;
}
.ul_links {
  display: flex;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}

.contact_links {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.header_contacts a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding: 0 28px 0 0px;
}
.header_contacts a:hover {
  cursor: pointer;
  color: #2196f3;
}

.box_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}
/* footer */
.footer_list {
  list-style: none;
}
.list_item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-left: 30px;
  margin-right: 30px;
  transition-property: transform;
  perspective-origin: top left;
}

.list_item:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  transform: rotate3d(2, 2, 2, 60deg);
}
.list_item p {
  padding-bottom: 10px;
}
.list_item h3 {
  margin-top: 30px;
}
.footer {
  background: #2f303a;
}
.footer_item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer_item h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
  margin: 0;
}
.footer > h3 > span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  padding: 60px 0;
}
.footer_list {
  padding: 0;
  margin-top: 20px;
}

/* ! Portfolio */
.button_container {
  width: 600px;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_buttons {
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.portfolio_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 6px;
  margin: 0 auto;
  border-width: 0;
}
.portfolio_button button {
  background-color: #f5f4fa;
  color: #000000;
  margin: 8px;
  border: 0;
}

.portfolio_button button:hover {
  cursor: pointer;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.porfolio_cards {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style-type: none;
}

.porfolio_cards .p_card:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.p_card {
  background: #ffffff;

  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 0px 0px 4px 4px;
  width: 370px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.f_container {
  display: inline-block;
  margin-left: 215px;
}
.text {
  padding-bottom: 20px;
  padding-left: 24px;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 36px;

  letter-spacing: 0.06em;

  color: #212121;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: #757575;
}
.text h3 {
  font-size: 1rem;
}
.text p {
  font-size: 1rem;
}
.promo-overlay {
  background: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 200px 0;
}
.work-item {
  width: 370px;
  margin: 0 30px;
}
.work_list .work-item .working {
  object-fit: cover;
}
.working img {
  display: block;
  width: 100%;
  margin: 0 30px;
}
.list_item img {
  object-fit: fill;
}
.p_card {
  width: 370px;
  height: 404px;
  transition-property: transform;
  perspective-origin: top left;
}
.p_card:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  transform: rotate3d(2, 2, 2, 60deg);
}
.p_card img {
  object-fit: fill;
}
.block-about {
  width: 270px;
  margin: 0 30px;
}

.future-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
}
.f_img {
  display: block;
  padding: 25px 100px;
  width: 100%;
}
.card ul {
  animation: tada;
}
.our-work {
  animation: pulse;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin: 16px 32px 30px 32px;
}
.card-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.card-link a:hover,
.card-link a:hover path {
  background-color: #2196f3;
  fill: #ffffff;
}
.clients-container {
  margin-top: 127px;
  margin-bottom: 94px;
}
.clients-list {
  display: flex;
  width: 1170px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.clients-item a {
  display: block;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 0 30px;
  padding: 25px 61px;
  width: 170px;
}
.clients-item a:hover,
.clients-item a:hover path {
  fill: #2196f3;
  border-color: #2196f3;
}
.join_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  margin: 0 10px;
}
.footer-link a:hover,
.footer-link a:hover path {
  background-color: #2196f3;
}

.f-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.join {
  display: block;
  width: 206px;
  margin-top: -115px;
  margin-left: 516px;
}
hr {
  margin: 0;
}
.header_link i:hover {
  color: #2196f3;
}
