.container{
  width: 1140px;
  margin: 0 auto;
}
.header_block {
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items:center;
}
.header_wraper {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.header_left {
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items:center;
}
.blocks-about{
  display:flex;
  justify-content: space-between;
  width: 1170px;
}
.block-about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
  display:inline-block;
  justify-content: space-between;
  width: 1170px;
  align-items:center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header_logo1 {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

}
.header_logo1 span {
  color: #2196f3;
  width: 145px;
  height: 31px;
}

.header_link {
  list-style-type: none;
}
.header_link a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header_link a:hover {
  color: #2196f3;
}
.contact_link a {
  text-decoration: none;
  color: #757575;
}


.contact_link a:hover {
  color: #2196f3;
}
.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin: 0;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  margin: 29.480px 0 ;
}
.promo {
    background-color: #2F303A;
    padding: 200px 0;
}
button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 5px 20px;
}
.contact_link {
  list-style-type: none;
  padding: 20px;
}
.information {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
h3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
h3 {
    list-style-type: none;
}
h2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;

color: #212121;
}
.card h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
     
}
.card p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.card img {
    list-style-type: none;
}
span {
  color: #2196F3;
}
.header_contacts {

  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  margin-left: 300px;
}
.ul_links {
  display: flex;
  justify-content:space-between;
  width: 280px;
  align-items:center;
}

.contact_links {
  display: flex;
  justify-content:space-between;
  width: 300px;
  align-items:center;
  
}
.header_contacts a {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
 letter-spacing: 0.02em;

 color: #757575;
 text-decoration: none;
 
}
.header_contacts a:hover {
   cursor: pointer;
   color:#2196F3;
}
p {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  align-items:center;
} 