h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  // max-width: 100%;
}
.container {
  margin: 0 auto;
  @media (min-width: 320px) {
    padding: 0 15px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  text-decoration: none;
}
