$gray: #757575;
$black: #212121;
$simple-black: #000000;
$light-grey: #f5f4fa;
$border-grey: #afb1b8;
$white: #ffff;
$border-white: #eeee;
$bacground-white: #ebebeb;
$blue: #2196f3;
$footer-black: #2f303a;
