h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.about_container {
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $gray;
}

.about__list {
  display: flex;
  justify-content: center;
}
.about__block {
  width: 270px;
  margin: 0 30px;
}
.about__block h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
  margin-top: 20px;
}
.about__block p {
  font-family: "Roboto";
  margin-top: 10px;
  font-size: 0.88em;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: $gray;
}
.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
  width: 270px;
}
.about__img {
  display: block;
  padding: 25px 100px;
  width: 100%;
}
.about-us {
  background:$white ;
}
