.section_card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.card h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
  margin: 0;
}
.card img {
  list-style-type: none;
}

.card_conteiner {
  background-color: #f5f4fa;
  padding: 94px 195px;
}
.box_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}
.list_item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-left: 30px;
  margin-right: 30px;
  transition-property: transform;
  perspective-origin: top left;
  list-style-type: none;
}

.list_item:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  transform: rotate3d(2, 2, 2, 60deg);
}
.list_item p {
  padding-bottom: 10px;
}
.list_item h3 {
  margin-top: 30px;
}
.list_item img {
  object-fit: fill;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin: 16px 32px 30px 32px;
  list-style-type: none;
}
.card-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.card-link a:hover,
.card-link a:hover path {
  background-color: #2196f3;
  fill: #ffffff;
}
