.footer {
  background: $footer-black;
}
.f_container {
  display: inline-block;
  margin-left: 215px;
}
.footer_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $white;
}

.footer_list {
  list-style: none;
}
.footer_list {
  padding: 0;
  margin-top: 20px;
}

.footer_item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer_item h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: $white;
  margin: 0;
}
.footer > h3 > span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $blue;
}

.footer {
  padding: 60px 0;
}
.join {
  display: block;
  width: 206px;
  margin-top: -115px;
  margin-left: 516px;
}
.join_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
}
.f-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  margin: 0 10px;
}
.footer-link a:hover,
.footer-link a:hover path {
  background-color: $blue;
}
