h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  animation: backInRight 2s;
  background-color: #fff;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.header_link i:hover {
  color: $blue;
}

.header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
span {
  color: $blue;
}
.header__block {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}
.header__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 115px;
  margin-right: 115px;
}
.header__left {
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items: center;
}
.header__link > img {
  display: inline-block;
  margin-right: 10px;
}
.header__link {
  list-style-type: none;
}
.header__link a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  position: relative;
  color: $black;
  transition-duration: 0.5s;
}
.header__link a:hover {
  color: $blue;
}
.header__logo1 {
  color: $simple-black;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.header__logo1 span {
  color: $blue;
  width: 145px;
  height: 31px;
}
.header__contacts a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $gray;
  text-decoration: none;
  padding: 0 28px 0 0px;
}
.header__contacts a:hover {
  cursor: pointer;
  color: $blue;
}
.contact__link a {
  text-decoration: none;
  color:$gray;
}

.contact__link a:hover {
  color:$blue;
}
.header__list{
  display: flex;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}
i {
  margin: 0 10px;
}
.header__link::before,
.header__link::after {
    height: 4px;
    background-size: contain;
    border-radius: 2px;
    background: $blue;
    margin-top: 25px;
    margin-bottom: 0;
  }

 


  .header__link a::after {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    bottom: -30px;
    height: 4px;
    transition-duration: 0.5s;
    
            }
      
.header__link a:hover::after {
  display: block;
  background: $blue;
   }
      
  #footer {
 scroll-behavior: smooth;
  }