.card {
  background: #f5f4fa;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (min-width: 480px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  & h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black;
    margin-top: 30px;
  }
  & p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 10px;
  }
  & img {
    list-style-type: none;
  }
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black;
    margin-bottom: 50px;
    padding-top: 30px;
    @media (min-width: 480px) {
      font-size: 28px;
      letter-spacing: 0.84px;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
      letter-spacing: 1.08px;
    }
  }
  &__item {
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    margin-left: 30px;
    margin-right: 30px;
    transition-property: transform;
    perspective-origin: top left;
    list-style-type: none;
    @media (min-width: 480px) {
      width: 450px;
      margin-bottom: 30px;
      height: 622px;
    }
    @media (min-width: 768px) {
      width: 354px;
      height: 536px;
      margin: 0;
    }
    @media (min-width: 1200px) {
      margin-bottom: 0;
      width: 270px;
      height: 428px;
    }
    &:hover {
      transform: scale(1.05);
      transition-duration: 1s;
      transform: rotate3d(2, 2, 2, 60deg);
    }
  }

  &__item img {
    // object-fit: fill;
    width: 100%;
  }
  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 16px 32px 30px 32px;
    list-style-type: none;
  }
  &__link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
  }
  &__link a:hover,
  &__link a:hover path {
    background-color: $blue;
    fill: $white;
  }
}
