.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  animation: backInRight 2s;
  background-color: #fff;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  @media (min-width: 480px) {
    padding: 16px 0;
    height: 60px;
  }
  @media (min-width: 768px) {
    padding: 26px 0;
    height: 80px;
  }
  &__navigation {
    margin-left: 40px;
    @media (min-width: 480px) {
      margin-left: 0;
    }
    @media (min-width: 480px) {
      margin-left: 88px;
    }
  }
  &__logo1 {
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-left: 0;
    @media (min-width: 480px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
    }
  }
  &__span {
    color: #2196f3;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    @media (min-width: 480px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
    }
  }
  &__link i:hover {
    color: $blue;
  }
  &__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  span {
    color: $blue;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    width: 520px;

    align-items: center;
  }

  &__link > img {
    display: inline-block;
    margin-right: 10px;
  }
  &__link {
    list-style-type: none;
  }
  &__link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;
    color: $black;
    transition-duration: 0.5s;
    margin: 0 43px;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      margin: 0 25.5px;
    }
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  &__link a:hover {
    color: $blue;
  }

  &__contacts a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $gray;
    text-decoration: none;
    padding: 0 28px 0 0;
  }
  &__contacts a:hover {
    cursor: pointer;
    color: $blue;
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
  }
  &__item a {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 16px;
    margin: 0 30px;
    @media (min-width: 486px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 116px;
      height: 14px;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      width: 122px;
      height: 16px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      width: 283px;
    }
    @media (min-width: 1200px) {
      display: flex;
      width: 285px;
    }
  }

  i {
    margin: 0 10px;
  }
  &__link::before,
  &__link::after {
    height: 4px;
    background-size: contain;
    border-radius: 2px;
    background: $blue;
    margin-top: 25px;
    margin-bottom: 0;
  }

  &__link a::after {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    bottom: -25px;
    height: 4px;
    transition-duration: 0.5s;
  }

  &__link a:hover::after {
    display: block;
    background: $blue;
  }
  &__humburger {
    @media (min-width: 480px) {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      gap: 4px;
      span {
        width: 24px;
        display: block;
        border: 2px solid #212121;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
}

#footer {
  scroll-behavior: smooth;
}
