.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  animation: backInRight 2s;
  background-color: #fff;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  @media (min-width: 480px) {
    padding: 16px 0;
    height: 60px;
  }
  @media (min-width: 768px) {
    padding: 26px 0;
    height: 80px;
  }
  &__navigation {
    margin-left: 40px;
    @media (min-width: 480px) {
      margin-left: 0;
    }
    @media (min-width: 480px) {
      margin-left: 60px;
    }
  }
  &__logo1 {
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-left: 0;
    @media (min-width: 480px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
    }
  }
  &__span {
    color: #2196f3;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    @media (min-width: 480px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
    }
  }
  &__link i:hover {
    color: $blue;
  }
  &__contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  span {
    color: $blue;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    width: 520px;
    align-items: center;
  }

  &__link > img {
    display: inline-block;
    margin-right: 10px;
  }
  &__link {
    list-style-type: none;
  }
  &__link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;
    color: $black;
    transition-duration: 0.5s;
    margin: 0 43px;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      margin: 0 25.5px;
    }
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  &__link a:hover {
    color: $blue;
  }

  &__contacts a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $gray;
    text-decoration: none;
    padding: 0 28px 0 0;
  }
  &__contacts a:hover {
    cursor: pointer;
    color: $blue;
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
  }
  &__item a {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 16px;
    margin: 0 30px;
    @media (min-width: 486px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 116px;
      height: 14px;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      width: 122px;
      height: 16px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      width: 283px;
    }
    @media (min-width: 1200px) {
      display: flex;
      width: 285px;
    }
  }

  i {
    margin: 0 10px;
  }
  &__link::before,
  &__link::after {
    height: 4px;
    background-size: contain;
    border-radius: 2px;
    background: $blue;
    margin-top: 25px;
    margin-bottom: 0;
  }

  &__link a::after {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    bottom: -25px;
    height: 4px;
    transition-duration: 0.5s;
  }

  &__link a:hover::after {
    display: block;
    background: $blue;
  }
  &__hamburger {
    @media (min-width: 320px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
      span {
        transition: 0.5s;
        width: 24px;
        display: block;
        border: 2px solid #212121;
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
    &--active {
      span:nth-child(1) {
        transform: rotate(45deg) translateY(5px);
      }
      span:nth-child(2) {
        display: none;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-5px);
      }
    }
  }
}
.menu {
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    margin: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
      0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    padding: 48px 40px;
    transition: 0.3s;
    &-open {
      left: 0;
    }
    .menu__btn {
      background: #fff;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
    }
    .menu__link {
      color: #212121;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.8px;
      text-decoration: none;
    }
    .menu__link--mail {
      color: #757575;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
    }
    .menu__link--tell {
      color: #2196f3;
      font-family: Roboto;
      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.68px;
    }
    .menu__link--social {
      color: #757575;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
    }
    .menu__pages {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    .menu__contacts {
      display: flex;
      flex-direction: column-reverse;
      gap: 32px;
    }
    .menu__list {
      display: flex;
    }
    .menu__social {
      border-right: rgba(33, 33, 33, 0.2);
    }
    .menu__list {
      display: flex;
      margin-top: 64px;
    }
    .menu__social {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding: 0 10px;
      &:last-child {
        border: 0;
      }
    }
  }
}

//   &__input,

//   &__label {
//     display: none;
//   }
//   &__window {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-direction: row;
//     // width: 100%;
//   }

//   @media (max-width: 768px) {
//     &__label {
//       width: 30px;
//       display: block;
//       position: absolute;
//       right: 0;
//       margin-right: 15px;
//       cursor: pointer;
//     }
//     &__line,
//     &__line::after,
//     &__line::before {
//       content: "";
//       display: block;
//       width: 30px;
//       height: 3px;
//       background-color: black;
//       position: absolute;
//       right: 0;
//       transition: 0.3s;
//     }
//     &__line::after {
//       top: 8px;
//     }
//     &__line::before {
//       top: -8px;
//     }
//     &__input[type="checkbox"]:checked ~ &__label &__line {
//       transform: rotate(-45deg);
//     }
//     &__input[type="checkbox"]:checked ~ &__label &__line::before {
//       top: 0;
//       transform: rotate(0deg);
//     }
//     &__input[type="checkbox"]:checked ~ &__label &__line::after {
//       top: 0;
//       transform: rotate(90deg);
//     }
//     &__input[type="checkbox"]:checked ~ .nav {
//       display: block;
//       transition: 0.3s;
//       left: 0;
//     }
//   }

#footer {
  scroll-behavior: smooth;
}
