.overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-top: 50px;
}

.show {
  display: block;
}
.close_modal {
  display: block;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  fill: $white;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  right: 8px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}
.cross {
  color: $simple-black;
  width: 11px;
  height: 11px;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  top: -3px;
  left: 2px;
}
.input input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.input {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.input i {
  margin-left: -15px;
}
.fa-solid i {
  color: $black;
  position: relative;
}

textarea {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
label {
  display: flex;
  align-items: left;
  justify-content: left;
  color: $gray;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__btn {
  border-radius: 4px;
  background: $blue;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0px;
  padding: 10px 52px;
  color: $white;
  margin-top: 30px;
  margin-bottom: 20px;
}
.form__title {
  color: $black;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 12px;
}

.label {
  margin-bottom: 4px;
}
.form__input {
  display: flex;
  gap: 10px;
  padding: 11px 0 11px 12px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 0.3s;
}
.form__input:hover {
  border-color: $blue;
  color: $blue;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.check-content {
  color: $gray;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.check-content a {
  color: $blue;
  text-decoration-line: underline;
}
.form__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}
input[type="checkbox"] {
  width: 16px;
  height: 15px;
}
